<!doctype html>
<html>
<head><meta charset="utf-8"><title>Photo Metadata</title></head>
<body>
  <h1>Photo Metadata</h1>
  <ul>
    <li>ID: {{ photo.id }}</li>
    <li>Filename: {{ photo.filename }}</li>
    <li>Created: {{ photo.mediaMetadata.creationTime }}</li>
    <li>Dimensions: {{ photo.mediaMetadata.width }} x {{ photo.mediaMetadata.height }}</li>
  </ul>
  <p>
    <a href="{{ photo.baseUrl }}=d" download>Download Photo</a><br>
    <a href="{{ url_for('albums') }}">Back to Albums</a>
  </p>
</body>
</html>
